<nph-layout-profile-sidebar-block>
    <nph-layout-profile-sidebar-block-title>
        Welcome
    </nph-layout-profile-sidebar-block-title>

    <nph-layout-profile-sidebar-block-subtitle>
        {{ layoutService.profile().name }}
    </nph-layout-profile-sidebar-block-subtitle>

    <nph-layout-profile-sidebar-block-item (click)="onProfileClick()"
                                           icon="fa-solid fa-user">
        <span class="mb-2 font-semibold">Profile</span>
        <p class="text-color-secondary m-0">Lorem ipsum date visale</p>
    </nph-layout-profile-sidebar-block-item>

    <nph-layout-profile-sidebar-block-item (click)="onSignOutClick()"
                                           icon="fa-solid fa-power-off">
        <span class="mb-2 font-semibold">Sign Out</span>
        <p class="text-color-secondary m-0">Sed ut perspiciatis</p>
    </nph-layout-profile-sidebar-block-item>
</nph-layout-profile-sidebar-block>

<nph-layout-profile-sidebar-block>
    <nph-layout-profile-sidebar-block-title>
        Messages
    </nph-layout-profile-sidebar-block-title>

    <nph-layout-profile-sidebar-block-subtitle>
        You have 3 notifications
    </nph-layout-profile-sidebar-block-subtitle>

    <nph-layout-profile-sidebar-block-item (click)="onCommentClick()"
                                           icon="fa-solid fa-comment">
        <span class="mb-2 font-semibold">Your post has new comments</span>
        <p class="text-color-secondary m-0">5 min ago</p>
    </nph-layout-profile-sidebar-block-item>

    <nph-layout-profile-sidebar-block-item icon="fa-solid fa-trash-can">
        <span class="mb-2 font-semibold">Your post has been deleted</span>
        <p class="text-color-secondary m-0">15min ago</p>
    </nph-layout-profile-sidebar-block-item>

    <nph-layout-profile-sidebar-block-item badge="2"
                                           icon="fa-solid fa-folder">
        <span class="mb-2 font-semibold">Aisha Webb</span>
        <p class="text-color-secondary m-0">3h ago</p>
    </nph-layout-profile-sidebar-block-item>
</nph-layout-profile-sidebar-block>
